body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e3e3e3;
}

.font{
  /*margin-top: 100px;*/
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 64px;
  color: #524f4f;
  margin: 120px 0 10px 30px;
}

@media screen and (min-device-width: 720px){
  .font{
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    color: #524f4f;
  }
}

.font-drop-down{
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
  color: #524f4f;
}

@media screen and (min-device-width: 720px){
  .font-drop-down{
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    color: #524f4f;
  }
}

.font-header{
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 64px;
  color: white;
  margin: 30px;
}

@media screen and (min-device-width: 720px) {
  .font-header{
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    color: white;
  }
}

.margin{
  margin: 10px;
}

.color-option{
  color: black;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: #524f4f;
  color: white;
  min-width: 360px;
  z-index: 1100;
}

.selected{
  width: 350px;
  height: 100px;
  background: none;
  color: white;
  margin: 30px;

}

@media screen and (min-device-width: 720px){
  .selected{
    width: 200px;
    height: 45px;
    background: none;
    color: white;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}


@media screen and (min-device-width: 720px) {
  .main{
    display: flex;
    flex-wrap: wrap;
    background-color: #e3e3e3;
    height: fit-content;
    min-width: 360px;
  }
}

.image{
  display: flex;
  background-color: #524f4f;
  max-width: 240px;
  height: 350px;
  min-width: fit-content;
  margin: 10px;
  justify-content: center;
  border-radius: 20px;
}

.poster{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

.btn {
  display: flex;
  flex-direction: row;
  padding: 20px 32px;
  border: 1px solid black;
  font-size: 36px;
}

@media screen and (min-device-width: 720px){
  .btn {
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    border: 1px solid black;
    font-size: 18px;
  }
}

.btn:hover{
  color: red;
}

.btn__num{
  background-color: #47ff47;
}

.modal-wrapper {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: calc(100% + 20px);

  left: -5px;
  top:-10px;
  bottom:-10px;
  right: -5px
}

.image-poster{
  display: flex;
  height: 500px;

}

.div{
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 10%;
  z-index: 1001;
  gap: 20px;
}

@media screen and (min-device-width: 720px){
  .div{
    display: flex;
    flex-direction: row;
    top: 100px;
    left: 10%;
    z-index: 1001;
    gap: 20px;
  }
}

.info{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: center;

}

.top-description{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.movieData{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

@media screen and (min-device-width: 720px){
  .movieData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.title{
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 64px;
  color: #ffffff;
  width: 700px;
  display: none;
}

@media screen and (min-device-width: 720px){
  .title{
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Sans', sans-serif;
    font-size: 64px;
    color: #ffffff;
    width: 700px;
    display: block;
  }
}

.titleMobile{
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  font-family: 'PT Sans', sans-serif;
  font-size: 64px;
  color: #ffffff;
  /*width: 700px;*/
}

@media screen and (min-device-width: 720px){
  .titleMobile{
    display: none;
  }
}

.score{
  font-size: 32px;
  color: #ffffff;
}

.rating{
  font-size: 32px;
  color: #ffffff;
}

.release{
  font-size: 32px;
  color: #ffffff;
}

.description{
  display: none;
}

@media screen and (min-device-width: 720px){
  .description{
    font-size: 32px;
    color: #ffffff;
    width: 800px;
    margin: 20px 0 0 0;
    display: block;
  }
}

.description-mobile{
  font-size: 48px;
  color: #ffffff;
  /*width: 800px;*/
  margin: 20px;
  display: block;
}

@media screen and (min-device-width: 821px){
  .description-mobile{
    display: none;
  }
}

.close-button{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.divContainer {
  display: flex;
  justify-content: center;
}

